
# WORKSPACE
LOCALE_TIMEZONE=Europe/Madrid
APP_PATH=../
SSH_PORT=22

# NGINX
NGINX_VERSION=latest
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=433

# PHP-FPM
PHP_VERSION=7.2

# MYSQL
MYSQL_VERSION=latest
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ALLOW_EMPTY_PASSWORD=
MYSQL_RANDOM_ROOT_PASSWORD=
MYSQL_ONETIME_PASSWORD=

# MAILDEV
MAILDEV_HTTP_PORT=1080
MAILDEV_SMTP_PORT=25